.sd {
  border: solid 3px black;
  display: inline-block;
  margin: 0;

  padding: 0;
}

#sinistra {
  padding: 0;
  background-color: blueviolet;
  width: 480px;
  height: 450px;
  margin: 0;
}

#destra {
  padding: 0;
  background-color: yellow;
  width: 50%;
  height: 450px;
  margin: 0;
}

button {
  position: absolute;
  left: 400px;
  top: 400px;
  border: solid 3px black;
  border-radius: 40px;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

button:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.tondo {
  border: solid 3px black;
  border-radius: 400px;
  height: 100px;
  width: 100px;
}

#sx {
  position: absolute;
  top: 100px;
  left: 200px;
  background: yellow;
}
#dx {
  position: absolute;
  top: 100px;
  right: 200px;
  background: blueviolet;
}
