body {
  background-color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: brown;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

#divin {
  border: dotted black 1px;
  background: white;
  width: 270px;
  height: 60px;
  margin: 20px 10px 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#eta {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 10px 10px 10px;
  border: solid 3px black;
}

#bottone {
  margin: 20px 10px 10px 10px;
  border: solid 3px black;
  background-color: rgb(31, 170, 244);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-size: 25px;
  color: azure;
  font-weight: bold;
  cursor: pointer;
}

#esito {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: 300ms;
}

#errore {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: red;
  color: white;
  width: 330px;
  height: 35px;
  opacity: 0;
  border: solid 1px black;
  transition: 200ms;
  position: absolute;
  font-size: 20px;
}

#bottone:hover {
  background: red;
  color: black;
}

input::placeholder {
  color: rgb(0, 0, 0);
}

#response {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 20px;
}
